---
layout: index
---

<div class="hero">
  <div class="hero-image"></div>
  <div class="hero-content">
    <h1 class="hero-title">{{site.title_full}}</h1>
    <p class="hero-description">{{site.description}}</p>
  </div>
</div>

<div class="search-full">
  {% include search.html %}
</div>

<div class="row library">

<div class="row">
  <div class="catalog">
    <div class="books">
    {% assign categories = site.data.library | group_by:"category" %}
    {% for category in categories %}
      <h2 class="group-title">{{category.name}}</h2>
      {% assign books = category.items | sort:"weight" %}
      {% for book in books %}
        {% if book.hidden != true %}
          {% include bookteaser.html %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    </div>
  </div>
</div>

</div>
