<footer>
<p><small>Bron: <a href="{{site.github}}/blob/master/{{page.path}}" target="_blank" rel="nofollow">Github.com</a> - Recentste pagina-update: {{ page.last_modified_at | date: '%Y-%m-%d' }}</small><br/>
<strong>Correcties of aanvullingen?</strong> Contacteer <a href="mailto:vragen@uitdatabank.be">vragen@uitdatabank.be</a><br/>
Blijf op de hoogte van de <strong>status van onze services</strong> via <a href="https://status.publiq.be" target="_blank">status.publiq.be</a><br/><a href="https://www.publiq.be/nl/vacaturebank?search_api_views_fulltext=publiq+vzw" target="_blank"><strong>Werken bij publiq?</strong></a></p>
</footer>
